.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.Navbar img {
  width: 80px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #87ceeb 0.36%, #006400 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and scale transition */
}

.nav-menu li:hover {
  color: #87ceeb; /* Change to sky blue on hover */
  transform: scale(1.1); /* Slightly enlarge the menu item */
}

.anchor-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* Smooth color transition */
}

.anchor-link:hover {
  color: #87ceeb; /* Change text color to sky blue on hover */
}

.nav-mobe-open {
  display: none;
}

.nav-mobe-close {
  display: none;
}

@media (max-width: 768px) {
  .Navbar {
    margin: 10px 20px; /* Reduced margin */
  }

  .nav-connect {
    display: none;
  }

  .nav-mobe-open {
    display: block;
    position: fixed;
    right: 20px; /* Adjusted position */
    width: 2px; /* Smaller width */
  }

  .nav-mobe-close {
    display: block;
    position: relative;
    top: 20px; /* Adjusted position */
    left: 180px; /* Adjusted position */
    width: 2px; /* Smaller width */
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 15px; /* Reduced gap between items */
    background-color: #1f0016;
    width: 250px; /* Reduced width */
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -250px; /* Adjusted right position */
  }

  .nav-menu li {
    font-size: 24px; /* Reduced font size */
    padding-left: 40px; /* Reduced padding */
    flex-direction: row;
    gap: 10px; /* Reduced gap */
  }

  .Navbar img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .Navbar img.nav-mobe-open {
    width: 30px; /* Set specific width for the open menu icon */
    height: 30px; /* Set specific height for the open menu icon */
  }

  .Navbar img.nav-mobe-close {
    width: 30px; /* Set specific width for the close menu icon */
    height: 30px; /* Set specific height for the close menu icon */
  }

  .Navbar img[src*="A.png"] {
    width: 50px; /* Set specific width for the logo image */
    height: 50px; /* Set specific height for the logo image */
  }
}
